/* Basic styling for the map and page */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}
  
h1 {
  text-align: center;
  margin-top: 20px;
  color: #000066;
}

/* Center the slider controls with extra space */
#controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  gap: 15px;
  margin: 20px auto;
}

#map {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 8px;
}

/* Graph container styling */
#graph {
  width: 80%;
  height: 300px;
  margin: 20px 10px auto auto;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
}

/* info container */
#info-popup {
  width: 80%;
  height: 300px;
  margin: 20px auto auto 10px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  border-radius: 5px; /* Rounded slider */
  background: #6dc201; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%; /* Rounded slider handle */
  background: #000066; /* Blue background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%; /* Rounded slider handle */
  background: #000066; /* Blue background */
  cursor: pointer; /* Cursor on hover */
}

#yearSlider {
  width: 300px;
}

#weekSlider {
  width: 300px;
}

/* Button styling */
button{
  background-color: #000066;
  color: #fff;
  border: none;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #333399;
}

/* Footer */
footer {
  text-align: left;
  padding: 15px 0;
  background-color: #e9e9e9;
  font-size: 0.9em;
  color: #555;
  margin-top: 40px;
  text-indent: 40px;
}

footer a {
  color: #000066;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
