<details class="panel" id="aboutDropdown">
    <summary><strong>About</strong></summary>
    <div id="about">
        <h4 style="margin-top: 20px;">IE-VIG-LAB</h4>
        <p>This dashboard is a collaborative initiative by members of IE University, hosted by the Impact Xcelerator:</p>
        <ul>
        <li><a href="https://danielprecioso.com" target="_blank">Daniel Precioso</a>, Senior Data Scientist @ IE School of Science and Technology</li>
        <li><a href="https://www.ikhlaqsidhu.net/" target="_blank">Ikhlaq Sidhu</a>, Dean @ IE School of Science and Technology</li>
        <li><a href="https://www.linkedin.com/in/isanchezemmerich" target="_blank">Isabel Sánchez Emmerich</a>, Project Manager @ IE School of Science and Technology</li>
        </ul>
    </div>
</details>