<details class="panel" id="citeDropdown">
    <summary><strong>How to Cite</strong></summary>
    <div id="cite" style="margin-top: 20px;">
      <p>If you use this dashboard or its data in your work, please cite it as follows:</p>
      <blockquote style="font-size: 0.95em; margin: 1em 0; padding-left: 1em; border-left: 4px solid #ccc;">
        Precioso, D., Gómez-Ullate, D., Sidhu, I., Sánchez Emmerich, I. (2025). <em>VIG Climate-Risk Dashboard</em>. IE Insurance & Tech Lab, IE University and Vienna Insurance Group. Available at: <a href="https://ixlabs-daniprec.pythonanywhere.com/" target="_blank">https://ixlabs-daniprec.pythonanywhere.com/</a>
      </blockquote>
      <p>You can also download the citation in BibTeX format:</p>
      <a href="{{ url_for('static', filename='vig-dashboard.bib') }}" download>
        <button class="button">Download BibTeX</button>
      </a>
      <p>For inquiries or collaborations, please contact <a href="mailto:daniel.precioso@ie.edu">daniel.precioso@ie.edu</a>.</p>
    </div>
  </details>
  